.titrehome {
    display: flex;
    justify-content: center;
    margin: 30px;

}

.header {
    background-color: #D7CAAA;

}

.titrehome h2 {
    font-size: 50px;

}

.imagehome {
    display: flex;
    justify-content: center;
}

.imagehome img {
    width: 320px;
    object-fit: cover;
    border-radius: 30%;
    box-shadow: 0px 0px 50px black;
}

.infohome {
    display: flex;
    justify-content: center;
}

#navigation {
    background-color: black;
    height: 80px;

}

.intro {
    margin: 150px;
}

.reseaux {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;

}



.linklinkedin {
    margin: 30px;
}

.linkmail {
    margin: 30px;
}

.linkgithub {
    margin: 30px;
}