* {
    font-size: 22px;
    font-family: Kanit;
}



body {
    margin: 0 auto;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 28px;
}

@media screen and (max-width: 650px) {
    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 18px;
    }
}