#navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#navigation a {
    margin: auto;
}

.about,
.skills,
.works,
.contact {
    margin: 0 auto;

}

.link-a,
.link-c,
.link-s,
.link-t {
    margin: auto 0;
    text-decoration: none;
    color: white;
    transition: transform .1s;

}

a.link-a:hover,
a.link-c:hover,
a.link-s:hover,
a.link-t:hover {
    -ms-transform: scale(1.4);
    /* IE 9 */
    -webkit-transform: scale(1.4);
    /* Safari 3-8 */
    transform: scale(1.4);
}

@media screen and (max-width: 650px) {
    #navigation {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }


}

@media screen and (max-width: 400px) {
    #navigation {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 40px;
    }



}